[submodule "extern/syntastic"]
	path = extern/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "extern/pyflakes"]
	path = extern/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "extern/pyflakes-vim"]
	path = extern/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "extern/vim-pathogen"]
	path = extern/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "extern/xml.vim"]
	path = extern/xml.vim
	url = https://github.com/othree/xml.vim
[submodule "extern/vim-javascript"]
	path = extern/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "extern/vim-arcanist"]
	path = extern/vim-arcanist
	url = https://github.com/phleet/vim-arcanist.git
[submodule "extern/vim-eunuch"]
	path = extern/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "extern/vim-fugitive"]
	path = extern/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "extern/argcomplete"]
	path = extern/argcomplete
	url = git@github.com:kislyuk/argcomplete.git
[submodule "extern/editorconfig-vim"]
	path = extern/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
