$include /etc/inputrc
set show-all-if-ambiguous on
set completion-ignore-case on
set bell-style visible
set input-meta on

# Cycle through command history by typing "git " then
# <up> arrow
Control-p:history-search-backward
Control-n:history-search-forward
"\e[A":history-search-backward
"\e[B":history-search-forward
"\e[C":forward-char
"\e[D":backward-char

# Meta+Direction and other keybindings for OSX, similar to windows
"\e(": kill-word
"\e[3;3~": kill-word

"\e[3~": delete-char

"\e\e[C": forward-word
"\e[1;5C": forward-word
"\e[1;3C": forward-word
"\e[5C": forward-word

"\e\e[D": backward-word
"\e[1;5D": backward-word
"\e[1;3D": backward-word
"\e[5D": backward-word

"\e[1~": beginning-of-line
"\e[7~": beginning-of-line
"\e[4~": end-of-line
"\ez": undo
